/.phpunit.cache
/node_modules
/public/hot
/public/storage
/public/build/assets/*
/public/build/manifest.json
/storage/*.key
/storage/app/public/deb-cve-*
/storage/app/public/images/*
/storage/app/public/livewire-tmp/*
/storage/debugbar/*
/storage/migration-checksum_*.txt
/storage/scout/*.index
/storage/scout/*.index-shm
/storage/scout/*.index-wal
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
