:root {
  --c-blue: #688afd;
  --c-red: #ff4d4d;
  --c-green: #4bd28f;
  --c-orange-light: #ffaa00;
  --c-orange-dark: #e08e00;
  --c-yellow-light: #FDF7BF;
  --c-yellow-dark: #dcbd35;
  --c-grey-100: #f4f6f8;
  --c-grey-200: #e3e3e3;
  --c-grey-300: #b2b2b2;
  --c-grey-400: #7b7b7b;
  --c-grey-500: #3d3d3d;
}

.bg-blue {
  background-color: var(--c-blue);
}

.bg-red {
  background-color: var(--c-red);
}

.bg-green {
  background-color: var(--c-green);
}

.bg-orange {
  background-color: var(--c-orange-light);
}

span.dot-red {
  height: 10px;
  width: 10px;
  background-color: var(--c-red);
  border-radius: 50%;
  display: inline-block;
}

span.dot-green {
  height: 10px;
  width: 10px;
  background-color: var(--c-green);
  border-radius: 50%;
  display: inline-block;
}

span.dot-blue {
  height: 10px;
  width: 10px;
  background-color: var(--c-blue);
  border-radius: 50%;
  display: inline-block;
}

span.dot-orange {
  height: 10px;
  width: 10px;
  background-color: var(--c-orange-light);
  border-radius: 50%;
  display: inline-block;
}
