body {
  color: #00264b;
  background-color: white;
}

.navbar-light {
  background-color: #00264b;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:focus {
  color: white;
}

.navbar-light .navbar-brand:hover {
  color: #f8b502;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link:focus {
  color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #f8b502;
}

.card,
.btn,
.alert,
.dropdown-menu {
  border-radius: unset;
}

.form-control:disabled, .form-control[readonly] {
  background-color: #f2f2f2;
  opacity: 1;
}

.tw-bg-lightgrey {
  background-color: rgba(0, 0, 0, .03);
}

.tw-card {
  border-bottom: 1px solid #becdcf;
  border-left: 1px solid #becdcf;
  border-right: 1px solid #becdcf;
}

.tw-logo {
  display: flex;
  align-items: center;
  justify-content: center
}

.tw-logo img {
  max-width: 30px;
  max-height: 30px;
}

.tw-logo .text {
  padding-left: 5px;
}

.tw-products {
  padding: 0;
}

.tw-categories {
  justify-content: end;
}

.tw-breadcrumbs {
  padding-left: 0;
}

.tw-dot-red {
  height: 10px;
  width: 10px;
  background-color: #ff4d4d;
  border-radius: 50%;
  display: inline-block;
}

.tw-dot-green {
  height: 10px;
  width: 10px;
  background-color: #4bd28f;
  border-radius: 50%;
  display: inline-block;
}

.tw-dot-blue {
  height: 10px;
  width: 10px;
  background-color: #0194ff;
  border-radius: 50%;
  display: inline-block;
}

.tw-dot-orange {
  height: 10px;
  width: 10px;
  background-color: #ffaa00;
  border-radius: 50%;
  display: inline-block;
}

.tw-pill {
  font-size: 75%;
  color: white;
  font-weight: 600;
  line-height: 1;
  padding: .25em .6em;
}

.cursor-pointer {
  cursor: pointer
}

.refresh {
  font-family: Lucida Sans Unicode
}