# Ignore everything
*
*/

# Do not ignore the .gitignore file
!.gitignore

# Do not ignore the "anchor" folder and its contents
!anchor/
!anchor/**/*

# Do not ignore the "cywise" folder and its contents
!cywise/
!cywise/**/*

# Ignore all .DS_Store files
.DS_Store