#pagination {
    padding-top: 2rem;
}

.fa-sort-down {
    transition: all 300ms;
}

thead {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
}

tbody:nth-of-type(1) tr:nth-of-type(1) td {
    border-top: none !important;
}

td {
    height: 1rem;
}

tr {
    background-color: white;
}

thead th {
    border-top: none !important;
    border-bottom: none !important;
    box-shadow: inset 0 -1px 0 #dee2e6, inset 0 1px 0 #dee2e6 !important;
}

thead th {
    background-clip: padding-box
}

tbody tr:last-child {
    border-bottom: none;
}

tbody tr:last-child td {
    border-bottom: none;
}

tbody tr td {
    height: 1rem;
    position: relative;
    vertical-align: middle;
}

.small-cell {
    max-width: 100px;
    width: 100px;
}

.medium-cell {
    max-width: 200px;
    width: 200px;
}

.row-light {
    background-color: #F8F8FA;
}

.badge {
    background-color: #7F87B3;
}

.rotate-chevron {
    transform: rotate(180deg);
    background-color: black;
    color: white;
}

.table tr:not(:last-child) td {
    border-bottom: 1px solid #dee2e6;
}

.small-cell > div {
    max-width: 100px;
}

.medium-cell > div {
    max-width: 200px;
}
